<h3><%= @shelter.name %></h3><br>
<%= @shelter.address %><br>
<%= @shelter.city %><br>
<%= @shelter.state %><br>
<%= @shelter.zipcode %>

<h3><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></h3>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
