<% @shelter.pets.each do |pet| %>
  <%= pet.name %><br>
  <%= "Age: #{pet.approx_age}" %><br>
  <%= pet.sex %><br>
  <img src="<%= pet.image %>" height=auto width="200"></img><br>
  <%= button_to "Delete Pet", "/shelters/#{@shelter.id}/pets/#{pet.id}", method: :delete%>
<%end%>

<h3><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %></h3>
