<h3><%= @pet.name %></h3><br>
<%= @pet.approx_age %><br>
<%= @pet.sex %><br>
<%= @pet.description %><br>
<%= @pet.adoption_status %><br>
<img src="<%= @pet.image %>" height: auto width=100% ></img><br>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %><br>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
